.consultation button {
    border: none;
    border-radius: 5px;
    height: 58px;
    background: #C70101;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover{
        background: #810909;
    }
}
header .button {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    background-color: $main-color;
    border-color: $main-color;
    border-radius: 10%;
    color: #FFFFFF;
    margin-top: 10px;
    transition: 0.3s all;
    &:hover{
        background: #810909;
    }
}
.button_main {
    width: 300px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: $main-color;
    border-color: $main-color;
    margin: 68px 0px 9px 0px;   
    &:hover{
        background: #810909;
    }
}
