.feed-form{
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    width: 300px;
    input{
        height: 50px;
        border-radius: 5px;
        margin-top: 15px;
        border: none;
        padding-left: 20px;
        font-weight: 400;
        font-size: 14px; 
        color: #4B4B4B;
        &:nth-child(3){
            margin-bottom: 20px;
        }     
    }
}