@media (max-width: 1200px)
    .menu
        .menu_link
            font-size: 13px    
    .subheader
        .subheader_call
            font-size: 11px
        .subheader_phone
            font-size: 17px
    .promo
        .promo_header
            font-size: 51px
        .promo_subheader
            font-size: 30px
    .advantage
        .circle_blue
            width: 124px
            height: 108px
        .image_advantage
            width: 55px
            height: 55px            
    .item_content_left
        .blue_text
            font-size: 16px
        .descr_left
            font-size: 14px
    .item_content_right
        .descr_right
            font-size: 14px
        .blue_text
            font-size: 16px
    .mobile
        .item_card_1
            width: 285px
            height: 260px
        .item_card_2
            width: 285px
            height: 260px
        .item_card_3
            width: 285px
            height: 260px
        .item_card_4
            width: 285px
            height: 260px
        .item_card_5
            width: 285px
            height: 260px
        .item_card_6
            width: 285px
            height: 260px                    
    .auto
        .black_block
            max-width: none
            width: 935px
        .white_block
            max-width: none
            width: 935px
        .auto_uber
            width: 730px
            height: 450px
            right: 20%
            transform: translateY(14%)                    
    footer
        .blue_line  
            transform: translateX(100%)    

    .footer_main
        margin-top: 35px
        .info_main
            display: inline
            padding: 28px
    .footer_submain
        margin-top: 10px
        .info_submain
            padding: 10px   
    footer
        .language
            transform: translateX(387%)         
    .footer_social
        width: 19%
@media (max-width: 992px)
    .menu
        .menu_item
            padding-right: 0px
        .menu_link
            font-size: 11px    
    .subheader
        .subheader_call
            font-size: 11px
            margin-top: 14px
        .uber_logo
            margin-top: 12px    
        .subheader_phone
            font-size: 12px
        .subheader_btn
            width: 125px
            height: 40px
            font-size: 11px  
    .promo
        .promo_header
            font-size: 38px
        .promo_subheader
            font-size: 22px        
    .advantage
        .circle_blue
            width: 140px
            height: 81px
        .image_advantage
            width: 55px
            height: 55px            
    .item_content_left
        .blue_text
            font-size: 15px
            line-height: 18px
        .descr_left
            font-size: 13px
            width: 370px
            height: 150px
            line-height: 14px
            margin-top: 26px
            margin-left: 20px
    .item_content_right
        .descr_right
            font-size: 13px
            width: 370px
            height: 150px
            line-height: 14px
        .blue_text
            font-size: 15px
            line-height: 17px       
    .mobile
        .row
            width: 100%
        .mobile_header
            font-size: 31px
        .mobile_subheader
            font-size: 15px    
        .card_header
            font-size: 18px    
        .mobile_item_plus
            bottom: 55px    
        .item_card_1
            width: 220px
            height: 235px
            margin: 10px
        .item_card_2
            width: 220px
            height: 235px
            margin: 10px
        .item_card_3
            width: 220px
            height: 235px
            margin: 10px
        .item_card_4
            width: 220px
            height: 235px
            margin: 10px
        .item_card_5
            width: 220px
            height: 235px
            margin: 10px
        .item_card_6
            width: 220px
            height: 235px       
            margin: 10px            
    .auto
        .black_block
            max-width: none
            width: 752px
        .auto_header
            font-size: 33px
        .auto_subheader
            font-size: 14px        
        .white_block
            max-width: none
            width: 752px
        .auto_uber
            width: 650px
            height: 420px
            right: 16%
            transform: translateY(19%)                    
    .require
        .header_require 
            font-size: 32px
        .require_title
            font-size: 19px
        .require_list
            font-size: 13px
            line-height: 28px      
        .require_title_red
            font-size: 19px
        .require_list_red
            font-size: 13px
            line-height: 28px            
    .world
        .link_city
            right:  40.5%        
    footer
        .blue_line  
            transform: translateX(66%)    
    .footer_main
        margin-top: 35px
        .info_main
            display: inline
            padding: 11px
    .footer_submain
        margin-top: 10px
        .info_submain
            padding: 2px   
            font-size: 11px
    footer
        .language
            transform: translateX(285%)         
    .footer_social
        position: absolute
        left: 1%
        transform: translateY(-224%)
        width: 19%  
@media (max-width: 767px)		
    .menu	
        position: fixed
        flex-direction: column
        justify-content: center
        align-item: center
        top: 0
        left: -100%
        width: 48%
        height: 41vh
        padding: 0 65px	
        background-color: rgba(0,0,0, .8)
        transition: 0.7s all
        &_active
            left: 0	
    .menu_item	
        padding-right: 0		
        border: none
        margin: 10px 0
    .item_content-header
        font-size: 15px		
    .menu_link
        font-size: 11px
    nav
        width: 74%
        .hamburger
            display: block
            position: absolute
            right: 10px
            left: 91%
            top: 25px
            transform: translateY(-50%)   
            width: 26px
            height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background: #FFF
            margin-top: 2px
            transition: 0.5s all
        .hamburger_active    
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: rotate(-45deg)    
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: rotate(50deg)        
    .uber_logo
        display: none
           

    
    
    .subheader .subheader_btn
        width: 115px
        height: 40px
        font-size: 11px
        position: absolute
        right: 10px
        top: 1px
    .sub_logo
        font-size:  15px
    .subheader_call
        font-size: 13px
    .subheader_phone
        font-size: 18px 
        

    .promo .promo_header 
        font-size: 34px
    .promo .promo_subheader 
        font-size: 19px     
    .advantage
        .advantage_header
            font-size: 27px
        .circle_blue 
            width: 95px
            height: 80px    
        .item_content_left .descr_left
            font-size: 15px
            line-height: 21px    
        .item_content_right .descr_right
            font-size: 15px
            line-height: 21px   
    .mobile .mobile_header
        font-size: 27px         
    .mobile .card_header
        font-size: 15px        

    .mobile .item_card_1
        position: absolute
        right: 50px
    .mobile .item_card_3
        position: absolute
        right: 50px
    .mobile .item_card_5
        position: absolute
        right: 50px        
    .require .header_require
        font-size: 27px

    .world .link_city 
        right: 32.5%
    footer .blue_line
        transform: translateX(38%)    
    .footer_main .info_main 
        padding: 39px
    .footer_submain .info_submain 
        padding: 19px
        font-size: 11px
        margin-top: 14px
    footer .language
        transform: translateX(444%)
    .footer_social
        transform: translateY(-50%)
        margin-top: 130px
        position: absolute
        left: 33%
        width: 31%         
    .auto
        display: none            