@media (max-width: 1200px)
	.menu
		&_item
			padding-right: 20px
		&_link
			font-size: 13px
	.promo
		&_header        
			font-size: 50px
	.mobile
		&_item
			width: 300px		
	.auto
		&_uber
			position: absolute
			left: 120px
			right: 120px
@media (max-width: 992px)			
	.menu
		&_item
			padding-right: 8px
		&_link
			font-size: 10px
	.subheader
		&_phone
			font-size: 19px
		&_official		
			font-size: 11px
		&_logo	
			img	
				width: 100%
		&_btn		
			width: 100px
			height: 35px
			font-size: 10px
	.promo
		&_header
			font-size: 40px		
		&_subheader	
			font-size: 25px
		&_descr	
			font-size: 15px
	.reasons
	.header_title	
			font-size: 30px		
			margin-top: 25px
	.content
		&_left
			width: 100%
			margin: 0 auto
		&_right
			width: 100%	
			margin: 0 auto
	.mobile
		&_item
			width: 217px
			height: 269px	
		&_title	
			font-size: 20px
	.auto
		&_uber
			position: absolute
			left: 145px
			right: 280px	
			width: 467px
			height: 319px		
	.title_black
			font-size: 24px
	.subtitle_black
			font-size: 13px
	.subtitle_auto	
			margin-top: 115px
	.require_title
			font-size: 30px		
	.require_block	
			margin-top: 5px	
	.title_require
			font-size: 18px
	.require_point
			font-size: 11px	
			font-weight: 400	
	.require_subheader
			font-size: 17px		
	.title_red
			font-size: 18px
			margin-top: 15px		
	.list_red
			font-size: 11px
			font-weight: 400		

@media (max-width: 767px)		
	.menu	
			position: fixed
			flex-direction: column
			justify-content: center
			align-item: center
			top: 0
			left: -100%
			width: 50%
			height: 100vh
			padding: 20px 15px	
			background-color: rgba(0,0,0, .8)
			transition: 0.7s all
			&_active
				left: 0	
	.menu_item	
			padding-right: 0		
			border: none
			margin: 10px 0
	.item_content-header
			font-size: 15px		
	.menu_link
			font-size: 20px
	.hamburger	
			display: block
			position: absolute
			right: 10px
			top: 50%
			transform: translateY(-50%)
			width: 25px
			span
				display: block
				height: 2px
				width: 100%
				background-color: white
				margin-bottom: 4px
				transition: 0.7s all
			&_active
				span	
					margin-bottom: -2px
					&:nth-child(1)
						transform: rotate(-45deg)
					&:nth-child(2)
						display: none	
					&:nth-child(3)
						transform: rotate(45deg)	
	.subheader_logo	
			width: 50%				
	.subheader_call
			margin-top: -53px
	.subheader_btn
			transform: translateX(416%) translateY(-140%)
			margin-top: -6px	
			width: 96px
			height: 14px
			font-size: 9px
	.subheader_phone
			margin-top: -47px
	.promo
			&_header
				font-size: 25px		
			&_subheader
				line-height: 0
				font-size: 18px
			&_btn
				width: 180px
	.label
			margin: 5% 20%
	.header_title
			transform: translateX(-17%)
			font-size: 25px
			margin-top: 25px
	.content_left
			margin: 20px -100px			
	.content_right
			transform: translateX(-19%)
			margin: 17px 0px
	.item_img
			min-width: 99px
			min-height: 100px				
	.mobile_item		
			width: 260px
			height: 265px
			margin: 5px auto
	.mobile_item_2			
			width: 260px
			height: 265px
			margin: 5px auto
	.mobile_title
			font-size: 20px
			margin-top: 25px
	.auto_uber
			position: absolute
			left: 50px
			right: 280px
			width: 467px
			height: 325px		
	.xs-hidden
			display: none		
@media (max-width: 575px)			
	.subheader
			height: 60px
			&_official
				display: none
			&_logo	
				margin-top: 27px
			&_phone
				text-transform: uppercase
				font-size: 12px
				font-weight: 400
				padding-top: 28px
			&_btn
				display: none	
	.promo
			min-height: 400px
			&_descr
				display: none
			&_header
				font-size: 35px
			&_subheader	
				line-height: 2
				font-size: 20px
				margin-top: 33px
			&_btn	
				width: 210px
				height: 50px
				margin-top: 72px		 	
	.menu_link
			font-size: 15px	
	.reasons .label
			margin: 4% 13%
	.reasons .header_title
			transform: translateX(-29%)
			font-size: 15px			
	.mobile .label
			margin: 1% 32%
	.mobile	.header_title
			font-size: 16px
			margin-top: 14px	
			transform: none
	.mobile .subheader_title
			font-size: 12px
			margin-top: 11px
	.line_blue
			width: 284px
			height: 2px
			background-color: #1fbad6
			margin: -5px auto
	.footer_social
			display: none
	.auto
			display: none
	.require
			display: none
	.worlds
			display: none				
	.link_item
			display: none		
			