@import 'block/variables';
@import 'block/buttons';
@import 'block/forms';
@import 'block/reasons';
@import 'block/footer';
@import 'block/media';

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.406);
    margin: 0;
    padding: 0;
    position: fixed;
    width: 80%;
    z-index: 99;
    color: #FFF;
    a {
        text-decoration: none;
        color: #FFF;
        &:hover {
            color: $main-color;
        }
    }
}
.hamburger {
    display: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}
.container {
    display: flex;
    align-items: center;
}
.container-product {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(57, 55, 55, 0.792);
    border-radius: 30px;
    padding: 40px 30px;
    gap: 15px;
    margin-top: 35px;
    .image__frame {
        img {
        width: 300px;
        height: 100%;
        }
    }
}
.container-author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;   
    color: #FFF;
    margin-top: 35px;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    color: #FFF;
    margin-top: 105px;
}
.footer__social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .logo-footer {
        font-size: 35px;
    }
}
.footer__icons {
    img {
        padding: 5px;
    }
}
.footer__main-link {
    list-style-type: none;
    font-size: 18px;
    a {
        text-decoration: none;
    }
    li {
        color: #FFF;
        padding: 5px;
        &:hover {
            color: $main-color;
        }
    }
}
.footer__menu-link {
    list-style-type: none;
    font-size: 18px;
    a {
        text-decoration: none;
    }
    li {
        color: #FFF;
        padding: 5px;
        &:hover {
            color: $main-color;
        }
    }
}
.footer__social-icons {
    img {
        padding: 5px;
    }
   
}

.meet__left-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-end;
    .meet__circle {
        width: 112px;
        height: 122px;
        border-radius: 100%;
        background-color: $main-color;   
        cursor: pointer;
    }
    .host {
        color: $main-color;
        font-size: 15px;
    }
    .name__author {
        font-size: 45px;
    }
    .subtext {
        font-size: 18px;
    }
}
.right__block-frame {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    .gear {
        padding: 10px;
        color: #FFF;
        background-color: #58575758;
        border-radius: 5px;
    }
    .episode {
        color: $main-color;
    }
    .main__text{
        color: #FFF;
        font-size: 50px;
        text-shadow: #cec18c 1px 0 10px;
        font-weight: 500;
    }
    .subtext{
        color: #FFF;
    }
    .btn__frame{
        width: 178px;
        height: 51px;
        background-color: $main-color;
        border: 1px solid $main-color;
        color: #FFF;
        margin-top: 25px;
        border-radius: 5%;
        cursor: pointer;
        box-shadow: 2px -3px 8px 0px rgba(241, 241, 144, 0.4);
    }
}
.right__text {
    color: #FFF;
    text-shadow: rgb(206, 193, 140) 1px 0 10px;
    font-size: 55px;
    font-weight: 300;
}
.right__block-frame{
    margin: 0 auto;
}

.registrations {
    margin: 0 auto;
    margin-top: 45px;
    
}
.feed-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 205px;
    align-items: center;
    background-color: rgba(103, 103, 103, 0.792);
    padding: 100px;
    width: 80%;
    border-radius: 5px;
    .form-block {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 100px;
        input {
            background-color: rgba(127, 126, 126, 0.792);
            border: none;
            border-radius: 5px;
            color: #FFF;
            &:active {
                background-color: rgba(103, 101, 101, 0.792); 
            }
            &:focus {
                background-color: rgba(103, 101, 101, 0.792);
            }
        }
        .btn-form {
            height: 130px;
            border-radius: 5px;
            cursor: pointer;
        }
}
.feed__left-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .email-form {
        font-size: 18px;
        color: $main-color;
        
    }
    .register-form {
        font-size: 45px;
        color: #FFF;
        text-shadow: rgb(47, 141, 203) 1px 0 10px;
    }
}
}

.container__raiting {
    margin: 0 auto;
}
.raiting-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px;
    
}
.raiting-block {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color: rgba(103, 103, 103, 0.792);
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 300px;
.raiting-text {
    font-size: 25px;
}
.raiting-author {
    color: rgba(136, 133, 133, 0.792);
}
}






@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
        min-width: 600px;
    }
}

@media screen and (max-width: 600px) {
    body {
        max-width: 600px;
        min-width: 320px;
    }  
    .menu {   
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 80vh; 
        background-color: rgba(0, 0, 0, 0.8);    
        transition: 0.8s all;
        &_active {
            left: 0;
        }   
        &_item {
            padding-right: 0;
        } 
}
      
    .hamburger {                               //HAMBURGER 
        display: block;
        position: absolute;
        right: 19px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px; 
        height: 12px;
        cursor: pointer;
        span {
            transition: 0.8s all;
            display: block;
            width: 100%;
            height: 2px;
            background-color: #FFF;
            margin-bottom: 4px;
        }
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: rotate(45deg);
                }
            }
                
                    
        }
    }
    .image__frame {
        width: 600px;
        overflow: hidden;
        img {
            object-position: 0 -220px;
        }
    }
    
    .container {
        flex-direction: column;
    }
    .right__text {
        margin-top: 10px;
        font-size: 35px;
        
    }
    .right__social {
        &-icons {
            margin-bottom: 25px;
        }
    }
    .right__block-frame {
        .gear {
            font-size: 15px;
        }
        .episode {
            font-size: 15px;
        }
        .main__text {
            font-size: 25px;
        }
        .subtext {
            font-size: 15px;
        }
    }
    .image__frame-mini {
        height: 400px;
        overflow: hidden;
        img {
            object-position: -125px 8px;
        }
    }
    .container-author {
        flex-direction: column;
        margin-top: 80px;
    }
    .meet__circle {
        margin: 0 auto;
        width: 65px;
        height: 65px;
    }
    .host {
        margin: 0 auto;
    }
    .img__meet {
        img {
            height: 334px;
        }
    }
    .feed-form {
        gap: 75px;
        flex-direction: column;
    .register-form {
        font-size: 25px;
        text-shadow: rgb(34, 169, 214) 1px 0 10px;
        }
    .email-form {
        font-size: 13px;
        }
    .form-block {
        gap: 4px;
    }    
    }
    .container__raiting {
        .raiting-row {
            flex-direction: column;
        }
    }
    .footer__social {
        .logo-footer {
            font-size: 25px;
            padding: 5px;
        }
    }
   
    .footer__main-link {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        font-size: 15px;
        gap: 15px;
    }
    .footer__menu-link {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 15px;
    }
    .footer__social-icons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
    }
}
@media screen and (max-width: 320px) {
    
    .image__frame {
        width: 320px;
        overflow: hidden;
        img {
            object-position: -200px -232px;
        }
    }
    .image__frame-mini {
        display: none;
        img {
            object-position: -125px 8px;
        }
    }
    .meet__left-block {
        padding: 10px;
        .name__author {
            font-size: 45px;
            padding: 10px;
        .subtext {
            font-size: 16px;
            padding: 10px;
            }
        }
        .meet__circle {
            margin: 0 auto;
            width: 65px;
            height: 65px;
        }
        .host {
            margin: 0 auto;
        }
    }
    .footer__social {
        .logo-footer {
            font-size: 13px;
     }
    }
    .footer__icons {
        img {
            width: 25px;
            height: 25px;
        }
    }
    .footer__main-link {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        font-size: 12px;
        gap: 15px;
    }
    .footer__menu-link {
        font-size: 12px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 15px;
        flex-direction: column;
    }
    .footer__social-icons {
       display: none;
    }
}

.right__social {
    margin-top: 20px;
   span {
    color: #FFF;
   }
   &-icons {
    margin-top: 15px;
    display: flex;
    gap: 15px;
   }
}

header {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.406);
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    
    
}
.logo-page {
    font-size: 25px;
    text-decoration: none;
    color: #FFF;
    margin-right: 45%;
    padding-left: 20px;
}
.link-hover {
    margin-right: 10px;
    padding: 0 20px 0 10px;
    font-size: 12px;
    text-decoration: none;
    color: #FFF;
}
.link-hover:hover {
    color: $main-color;
}
// .frame__page {
//     background-color: #000;
// }
// .frame {
//     display: grid;
//     grid-template-columns: 778px 675px;
// }
// .img__frame {
//     img {
//         margin: 35px 0 0 120px;
//         width: 450px;
//         height: 600px;
//     }
// }
// .img__info {
//     color: #FFF;
//     text-shadow: rgb(206, 193, 140) 1px 0 10px;
//     font-size: 55px;
//     margin: 30% 0 0 0;
//     padding: 10px;
//     font-weight: 300;
//     .under {
//         text-decoration: underline;
//         color: $main-color;
//     }
//     .bold {
//         font-weight: 900;
//     }
// }
// .link__social {
//     margin: 5% 0 0 10px;
//     color: white;
//     font-size: 15px;
//     font-weight: 300;
// }
// .icons__social {
//     margin: 20px 0 0 -15px;
//     img {
//         padding-left: 15px;
//     }    
//     img:hover {
//         width: 49px;
//         height: 35px;
//     }
// }
.episodes {
   
    background-color: #000;
    padding: 35px 0 0 60px;
    .episodes__logo {
        color: #FFF;
        font-size: 40px;
        
    }
}
.episodes-item {
    display: flex;
    margin: 40px 0 0 50px;
    border-radius: 5%;
    img {
        
        padding: 20px;
        margin-top: 25px;
    }
    
    
    background-color: rgba(37, 37, 37, 0.792);
}
.episode-title {
    margin-top: 75px;
    color: #FFF;
    background-color: #58575758;
    max-width: 20%;
    border-radius: 5px;
    text-align: center;
}
.episode {
    color: $main-color;
    
}
.header-item {
    color: #FFF;
    margin-top: 15px;
    font-size: 50px;
    text-shadow: #cec18c 1px 0 10px;
    span {
        font-weight: 500;
        text-decoration: underline;
    }
}
.subheader-item {
    color: #FFF;
    margin-top: 20px;
}
.subscribes__page {
    color: #FFF;
    background-color: #000;
    padding: 120px;
}
.information__subs {
    display: flex;
}
.vector {
    background-color: $main-color;
    width: 112px;
    height: 112px;
    border-radius: 100%;
    padding: 34px 0 0 20px;
    cursor: pointer;
    img:hover {
        width: 75px;
        height: 38px;
    }
}
.episode.information__mini-header {
    margin-top: 24%;
    margin-left: -20%;
}
.information__img {
    margin-left: 12%;
    img {
    max-width: 450px;
    max-height: 543px; 
}
}
.information__header {
    font-size: 71px;
    margin-top: 20px;
    margin-left: -20%;
}
.information__text {
    font-size: 20px;
    margin-left: -20%;
}