@import 'variables';
@import 'promo';
@import 'header';
@import 'buttons';
@import 'advantages';
@import 'media';

* {
    font-family: 'Libre Baskerville', serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
