.button {
    width: 178px;
    height: 51px;
    background-color: $main-color;
    border: 1px solid $main-color;
    margin: 0 0 0 58%;
    color: #FFF;
    border-radius: 5%;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 2px -3px 8px 0px rgba(241, 241, 144, 0.4);
}
.button:hover {
    background-color: #1e73bdc7;
    border: 1px solid #1e73bdc7;
    }
.button:active {
    background-color: #1e50bdc7;
    border: 1px solid #1e73bdc7;
}
.button-episode {
    width: 178px;
    height: 51px;
    background-color: $main-color;
    border: 1px solid $main-color;
    color: #FFF;
    margin-top: 25px;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: 2px -3px 8px 0px rgba(241, 241, 144, 0.4);
}
.button-episode:hover {
    background-color: #1e73bdc7;
    border: 1px solid #1e73bdc7;
}
.button-episode:active {
    background-color: #1e50bdc7;
    border: 1px solid #1e73bdc7;
}