.registration-forms {
    background-color: #000;
    color: #FFF;
    padding: 80px 0;
}
.block-forms {
    display: flex;
    position: relative;
    margin: 0 auto;
    background-color: #58575758;
    border-radius: 5%;
}
.block-forms::before {
    content: '';
    position: absolute;
    bottom: -34px;
    left: 5px;
    background-color: $main-color;
    width: 100px;
    height: 3px;
    transform: translateX(21px) rotate(67deg);
}
.block-forms::after {
    content: '';
    position: absolute;
    bottom: -34px;
    left: 5px;
    background-color: $main-color;
    width: 70px;
    height: 3px;
    transform: translateX(-11px) rotate(97deg);
}
.registrations {
    display: flex;
    flex-direction: column;
    margin: 10% 0 0 45%;
    padding-bottom: 80px;
}
.header-form {
    color: $main-color;
    font-size: 12px;
    margin: 45px 0 0 50px;
}
.subheader-form {
    margin: 40px 0 0 50px;
    font-size: 48px;
    text-shadow: rgb(206, 193, 140) 1px 0 10px;
}
#inp-name {
    color: #FFF;
    height: 56px;
    width: 300px;
    border: none;
    background-color: rgba(103, 102, 102, 0.427);
    border-radius: 5%;
}
#inp-name:focus {
    background-color: rgba(142, 141, 141, 0.427);
}
#inp-mail {
    color: #FFF;
    height: 56px;
    margin-top: 10px;
    background-color: rgba(103, 102, 102, 0.427);
    border: none;
    border-radius: 5%;   
}
#inp-mail:focus {
    background-color: rgba(142, 141, 141, 0.427);
    } 
#inp-btn {
    width: 87px;
    height: 48px;
    background-color: $main-color;
    color: #FFF;
    font-size: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5%;
}
#inp-btn:active {
    background-color: #1e50bdc7;
    border: 1px solid #1e73bdc7;
}
