.reasons-page {
    max-height: 900px;
    background-color: #000;
    padding: 100px 0;
}
.reasons__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.reasons__item {
    background-color: rgba(101, 101, 101, 0.7);
    width: 300px;
    height: 300px;
}
.reasons__header {
    padding-left: 55px;
    color: #FFF;
    font-size: 17px;
    padding-top: 50px;
    }
.reasons__author {
    padding-left: 55px;  
    padding-top: 10px;
    color: rgba(155, 153, 153, 0.6);  
}